{% extends 'base.html' %}

{% load static %}

{% block title_web %} HOME {% endblock %}

{% block body %} 
<div id="top" class="main-hero">
    <div class="c-hero-banner c-hero-banner--main">
        <div class="cover"></div>
        <div class="c-hero-banner__section c-hero-banner__image">
            {{banner.bannerFront}}
        </div>
        <div class="mask">
            <img src="{% static 'img/mask.png' %}" alt="">
        </div>
    </div>
</div>
<!-- Section Love story -->
<section class="love-story section position-relative text-center">
    <div class="d-none d-sm-block love-story__flower-parallax position-absolute parallax">
        <img src="{% static 'img/ls-flower-prlx.png' %}" alt="flower">
    </div>
    <div class="container">
        <div class="love-story__flowers m-auto">
            <img src="{% static 'img/story-flowers.png' %}" alt="flowers">
        </div>
        <h1 class="title">Love story</h1>
        <p class="m-auto">{{ story.setting_story_content }}</p>
    </div>
</section>
<!-- Section Date -->
<section class="date-section section section--blue countdown text-center">
    <div class="container">
        <div class="date-section__flowers m-auto">
            <img src="{% static 'img/date-flowers.png' %}" alt="flowers">
        </div>
        <div class="date-section__block">
            <div class="d-inline-block">
                <h2 class="title--special" style="font-size: 34px;">{{ story.setting_schedule }}</h2>
                <h3 class="date-section__place">
                    {{ story.setting_location }}
                </h3>
            </div>
        </div>
    </div>
</section>
<!-- Section Events -->
<section id="events" class="events section text-center">
    <div class="container">
        <h1 class="title">Wedding events</h1>
        <p class="subtitle mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div id="accordion">
            <div class="accordion__header d-flex justify-content-center">

                {% for item in cat %}
                    <button class="btn btn-link" data-toggle="collapse" data-target="#cat-{{ item.id }}" aria-expanded="true" aria-controls="cat-{{ item.id }}">
                        {{ item.kategori_title }}
                    </button>
                {% endfor %}
            </div>
            <div class="accordion__body">
                {% for a in cat %}
                    {% for item in a.kategori.all %} 
                    {% if a.id == 1 %}
                    <div id="cat-{{a.id}}" class="collapse show" data-parent="#accordion">
                    {% else %}
                     <div id="cat-{{a.id}}" class="collapse " data-parent="#accordion">
                    {% endif %}
                
                    <div class="row">
                        
                        <h2 class="accordion__item-heading">{{ item.event_id_kategori }}</h2>
                        <div class="col-md-6">
                            {{ item.eventImagesFront }}
                        </div>
                        <div class="col-md-6 text-left">
                            <h3 class="accordion__item-subheading">{{ item.event_title }}</h3>
                            <p class="d-flex align-items-center"><i class="fa fa-2x fa-map-marker align-middle pr-1"></i>{{ item.event_location }}</p>
                            <p class="d-flex align-items-center"><i class="fa fa-2x fa-clock-o align-middle pr-1"></i>{{ item.event_shedule }}</p>
                            <p class="font-weight-bold">Keep it classy</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</section>
<!-- Section Gallery -->
<section id="gallery" class="gallery section text-center">
    <div class="d-none d-lg-block gallery__flower-prlx-l position-absolute parallax">
        <img src="{% static 'img/gallery-prlx-l.png' %}" alt="flower">
    </div>
    <div class="d-none d-lg-block gallery__flower-prlx-r position-absolute parallax">
        <img src="{% static 'img/gallery-prlx-r.png' %}" alt="flower">
    </div>
    <div class="container position-relative">
        <h1 class="title">Gallery</h1>
        <p class="subtitle mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="gallery__slider">
            <div class="slick-gallery slick mb-0">

                {% for item in gallery %}
                <div class="slider__item">
                    {{ item.imagesFront  }}
                </div>
                {% endfor %}
                
            </div>
            <div class="gallery__slider-num d-none d-lg-flex">
                <div class="gallery__slider-current pr-1"></div>
                <div class="pr-1">from</div>
                <div class="gallery__slider-all"></div>
            </div>
        </div>
    </div>
</section>
<!-- RSVP -->
<section id="rsvp" class="rsvp section">
    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-sm-12 col-md-4">
                <img src="{% static 'img/rsvp-flower.png' %}" class="parallax" alt="flower">
            </div>
            <div class="col-sm-12 col-md-8 align-self-center">
                <h2 class="title">RSVP</h2>
                <h6 class="text-uppercase font-weight-bold mb-0">Will you attend?</h6>
                <form id="rsvp-form" action="/postRsvp" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8 mb-3 m-md-0">
                            <div class="form-group">
                                <label class="control-label" for="inputName"></label>
                                <input type="text" class="form-control" name="name" id="inputName" placeholder="Your name" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputFriendName"></label>
                                <input type="text" class="form-control" name="relation" id="inputFriendName"  placeholder="Who is comming with you" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputNumber"></label>
                                <input type="text" class="form-control" name="email" placeholder="Your email"  id="inputNumber">
                            </div>
                        </div>
                        <div class="col-md-4 align-self-end">
                            <button type="submit" class="btn btn-outline-dark rounded-0 px-3 py-1 font-weight-bold">Send</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="success-msg"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="section">
    <div class="container text-white position-relative">
        <div class="footer__title">
            <div class="text-center">{{ story.setting_footer_title }}</div>
            <div class="text-center">{{ story.setting_nama_pria }} and {{ story.setting_nama_perempuan }}</div>
        </div>
        <div class="row pb-4">
            <div class="col-md-12 text-justify">
                <p>{{ story.setting_footer_content }}</p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-12 border p-1 mx-1">
                <ul class="d-sm-flex justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#cases">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#donations">Testimanials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#news">Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 border border-bottom-0 border-top-0 mx-1">
                <div class="row">
                    <div class="col-md-4 text-center border-right border-bottom px-0">
                        <div class="pt-1 pb-1">
                            <i class="fa fa-phone fa-3x"></i>
                        </div>
                        <div class="pb-1">{{ story.setting_contact }}</div>
                    </div>
                    <div class="col-md-4 text-center border-right border-bottom px-0">
                        <div class="pt-1 pb-1">
                            <i class="fa fa-map-marker fa-3x"></i>
                        </div>
                        <div class="pb-1">{{ story.setting_location }}</div>
                    </div>
                    <div class="col-md-4 text-center border-bottom px-0">
                        <div class="pt-1 pb-1">
                            <i class="fa fa-envelope-o fa-3x"></i>
                        </div>
                        <div class="pb-1">{{ story.setting_email }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center">&copy; Copyright 2019. All right Reserved.</div>
    </div>
</footer>

{% endblock %}